<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Warteeeg is cheap and tasty restaurant catalogue website.">
    <title>Warteg Apps</title>
</head>

<body>
    <a href="#main" class="skip">Skip to content</a>
    <header>
        <div class="brand">
            <img src="w.png" alt="warteg logo">
            <h1>Warteeeg</h1>
        </div>
        <button id="hamburger" aria-label="hamburger">&#9776</button>
        <nav id="navigationDrawer" class="nav-links">
            <ul>
                <li> <a href="#/home">Home</a> </li>
                <li> <a href="#/search">Search</a> </li>
                <li> <a href="#/favorite">Favorite</a> </li>
                <li> <a href="https://www.dicoding.com/users/fuadmln" target="_blank" rel="noopener">About Us</a> </li>
            </ul>
        </nav>
    </header>

    <main id="main">

    </main>

    <footer>
        <p>
            Copyright &#169; 2021 - <br class="hide-on-medium"><b class="text-secondary">Warteeeg</b> by <b>Fuad
                Maulana</b>.
        </p>
    </footer>
</body>

</html>