/* DETAIL */
.detail .restaurant img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.detail .res__info{
    padding: 22px 12px 12px;
    background-color: #fff;
}

.detail .res__name{
    text-align: center;
}

.detail .res__desc{
    margin-top: 15px;
    font-weight: 300;
    letter-spacing: .7;
    text-align: justify;
}

.detail ul.info-list{
    padding: 0 12px 12px;
    background-color: #fff;
}

.detail ul.info-list .label{
    font-weight: 600;
    min-width: 9ch;
}

.detail ul.info-list .colon{
    width: 1.5ch;
}

.detail ul.info-list .value{
    width: auto;
}

.detail ul.info-list li{
    padding: 6px 0;
    border-bottom: 1px solid #9ca1a8;
    display: flex;
}

.detail ul.info-list li:first-child{
    border-top: 1px solid #9ca1a8;
}

.detail ul.info-list li:hover{
    background-color: #F1F3F4;
}

.like-btn {
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border: 0;
    font-size: 32px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #db0000;
    color: white
}

.menu{
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.menu h2{
    text-align: center;
    margin-bottom: 10px;
}

.foods, .drinks{
    padding-bottom: 12px;
}

.foods h3{
    border-left: 4px solid var(--primary-color);
    padding-left: 12px;
    margin-bottom: 8px;
}

.drinks h3{
    border-left: 4px solid var(--secondary-color);
    padding-left: 12px;
    margin-bottom: 8px;
}

.foods ul, .drinks ul {
    padding-left: 8px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

.foods ul>li, .drinks ul>li{
    padding: 2px 0;
    list-style-type: "❖ ";
    list-style-position: inside;
}

.review-section{
    padding-top: 12px;
    background-color: #fff;
}

.review-section h2{
    text-align: center;
}

.review{
    border-bottom: 1px solid #9ca1a8;
    padding: 8px 0;
    padding-left: 12px;
    padding-right: 12px;
}

.review:hover{
    background-color: #F1F3F4;
}

.review .review__name{
    font-weight: 600;
    font-size: 15px;
    color: rgba(0, 0, 0, .87);
}

.review .review__date{
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
}

.review .review__comment{
    padding: 5px 0;
    font-size: 14px;
    color: rgba(0, 0, 0, .87);
}

.add-review{
    padding: 12px;
}

.add-review h3{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.add-review input, .add-review textarea{
    display: block;
    width: 100%;
    min-height: 44px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #9ca1a8;
    background-color: #F1F3F4;
    font-size: 14px;
    font-family: var(--oxygen);
}

.add-review input:focus, .add-review textarea:focus{
    background-color: white;
    outline-color: red;
    outline: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .2), -2px -2px 3px rgba(0, 0, 0, .2);
}

.add-review button{
    padding: 0 18px;
    min-width: 44px;
    min-height: 44px;
    border-radius: 5px;
    border: 0;
    background-color: #111827;
    color: white;
    font-weight: 700;
    font-family: var(--oxygen);
    letter-spacing: 2px;
    cursor: pointer;
}

.form-message{
    margin-bottom: 10px; 
    font-style: italic;
    font-size: 14px;
}