@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&family=Sriracha&display=swap');

:root{
    /* Color */
    --primary-color: #FCD34D;
    --secondary-color: #DC2626;
    --gray-50: #F9FAFB;
    --gray-100: #F3F4F6;
    --gray-200: #E5E7EB;
    --gray-300: #D1D5DB;
    
    /* Fonts */
    --sriracha: 'Sriracha', cursive;
    --oxygen: 'Oxygen', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 72px; /*sesuai tinggi header */
}

.skip{
    position: absolute;
    top: -50px;
}

.skip:focus{
    top: 0;
    z-index: 6;
}

body{
    background-color: var(--gray-200,  #E5E7EB);
    font-family: var(--oxygen);
}

img {
    display: block;
}

/* HEADER */
header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 4;
    display: flex;
    padding: 12px 5%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color, #FCD34D);
}

.brand{
    display: flex; 
    align-items: center;
}

.brand h1{
    display: inline-block; 
    margin-left: 10px;
    font-size: 1.4em;
    font-family: var(--sriracha);
    color: var(--secondary-color,  #DC2626);
}

.brand img{
    display: inline-block;
}

nav.nav-links{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    width: 60%;
    height: 100vh;
    box-sizing: border-box;
    padding: 18px 32px;
    background-color: #333;
    opacity: .96;
    transform: translate(100%, 0);
    transition: transform 0.3s ease-in-out;
}

nav.nav-links.open{
    transform: translate(0, 0);
}

nav.nav-links ul li{
    text-align: center;
    border-bottom: .7px solid #aaa;
}

nav.nav-links ul li:last-child{
    border-bottom: 0;
}

nav.nav-links ul li a {
    padding: 5px 15px;
    display: block;
    text-decoration: none;
    color: var(--gray-300, #D1D5DB);
    min-width: 44px;
    min-height: 44px;
    line-height: 44px;
}

nav.nav-links ul{
    list-style: none;
}

button{
    min-width: 44px;
    min-height: 44px;
}

#hamburger{
    border: 0;
    background-color: inherit;
    font-size: 2em;
    font-stretch: 150%;
    color: black;
}

/* MAIN */
#main{
    /* dikurang tinggi header dan footer, supaya footer dibawah */
    min-height: calc(100vh - 68px - 72px);
}

.jumbotron{
    box-sizing: border-box;
    padding: 64px 30px 30px;
    width: 100%;
    min-height: 240px;
    background-image: url('../public/images/heros/hero-image_2.jpg');
    background-position: center;
    object-fit: cover;
    position: relative;
}

.jumbotron::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* z-index: -1; */
    background-color:black;
    opacity: .8;
}

.jumbotron > *{
    position: relative;
    z-index: 3;
    text-align: center;
    color: white;
}

.jumbotron h2{
    font-size: 2em;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.jumbotron p{
    margin-top: 36px;
    font-size: 1em;
    font-weight: 300;
    word-spacing: 0; 
    letter-spacing: 0;
}

.text-primary{
    color: var(--primary-color, #FCD34D );
}

.text-secondary{
    color: var(--secondary-color, #DC2626 );
}

.explore{
    padding: 30px 18px;
}

.explore h2{
    margin-bottom: 30px;
    text-align: center;
}

.explore__items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-content: center;
    gap: 16px;
}

.explore__items .restaurant{
    position: relative;
    border-radius: 8px;
    overflow: hidden; /* agar border radius work pada flex*/
    box-shadow: rgba(49, 53, 59, .7) 1px 2px 6px 0;
    transition: all 0.1s ease-in-out;
    background-color: var(--gray-50,  #F9FAFB);
}

.explore__items .restaurant:hover{
    box-shadow: rgba(49, 53, 59, .7) 3px 5px 8px 0;
    transition: all 0.2s ease-in-out;
}

.explore__items .restaurant img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.explore__items .restaurant .res__info{
    padding: 8px 12px 12px;
}

.explore__items .restaurant .res__name{
    margin-top: 16px;
    margin-bottom: 12px;
    word-spacing: 1px;
    letter-spacing: .8px;
}

.explore__items .restaurant .res__name a{
    text-decoration: none;
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    min-width: 44px;
}

.explore__items .restaurant .res__name a:hover{
    color: black;
    text-decoration: underline;
}

.explore__items .restaurant .res__rating{
    text-align: right;
    font-weight: bold;
    font-size: 0.9;
}

.star{
    color: #FFC400; 
    font-size: 1.3em;
}

.explore__items .restaurant .res__desc{
    font-weight: 300;
    max-height: 280px;
    letter-spacing: .7px;
    /* max line */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.explore__items .restaurant .res__city{
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 0;
    padding: 6px;
    background-color: rgba(0, 0, 0, .8);
    color: var(--primary-color, #FCD34D);
    font-weight: bold;
    border-radius: 5px;
}

/* FOOTER */
footer{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 16px 12px;
    background-color: var(--primary-color, #FCD34D);
}
footer p{
    text-align: center;
}

.loader {
    position: relative;
    left: 50%;
    top: 50%;
    /*  sesuai width, height  */
    margin-left: -18px;
    border: 8px solid rgb(252, 211, 77);
    border-left: 8px solid rgb(220, 38, 38);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 1.8s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Scroll bar */

/* Width */
p::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
