@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&family=Sriracha&display=swap');

:root{
    /* Color */
    --primary-color: #FCD34D;
    --secondary-color: #DC2626;
    --gray-50: #F9FAFB;
    --gray-100: #F3F4F6;
    --gray-200: #E5E7EB;
    --gray-300: #D1D5DB;
    
    /* Fonts */
    --sriracha: 'Sriracha', cursive;
    --oxygen: 'Oxygen', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 72px; /*sesuai tinggi header */
}

.skip{
    position: absolute;
    top: -50px;
}
.skip:focus{
    top: 0;
    z-index: 6;
}

body{
    background-color: var(--gray-200,  #E5E7EB);
    font-family: var(--oxygen);
}

img {
    display: block;
}

/* HEADER */
header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 4;
    display: flex;
    padding: 12px 5%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color, #FCD34D);
}

.brand{
    display: flex; 
    align-items: center;
}

.brand h1{
    display: inline-block; 
    margin-left: 10px;
    font-size: 1.4em;
    font-family: var(--sriracha);
    color: var(--secondary-color,  #DC2626);
}

.brand img{
    display: inline-block;
}

nav.nav-links{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    width: 60%;
    height: 100vh;
    box-sizing: border-box;
    padding: 18px 32px;
    background-color: #333;
    opacity: .96;
    transform: translate(100%, 0);
    transition: transform 0.3s ease-in-out;
}

nav.nav-links.open{
    transform: translate(0, 0);
}

nav.nav-links ul li{
    text-align: center;
    border-bottom: .7px solid #aaa;
}

nav.nav-links ul li:last-child{
    border-bottom: 0;
}

nav.nav-links ul li a {
    padding: 5px 15px;
    display: block;
    text-decoration: none;
    color: var(--gray-300, #D1D5DB);
    min-width: 44px;
    min-height: 44px;
    line-height: 44px;
}

nav.nav-links ul{
    list-style: none;
}

button{
    min-width: 44px;
    min-height: 44px;
}

#hamburger{
    border: 0;
    background-color: inherit;
    font-size: 2em;
    font-stretch: 150%;
    color: black;
}

/* MAIN */
#main{
    /* dikurang tinggi header dan footer, supaya footer dibawah */
    min-height: calc(100vh - 68px - 72px);
}

.jumbotron{
    box-sizing: border-box;
    padding: 64px 30px 30px;
    width: 100%;
    min-height: 240px;
    background-image: url('../public/images/heros/hero-image_2.jpg');
    background-position: center;
    object-fit: cover;
    position: relative;
}

.jumbotron::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* z-index: -1; */
    background-color:black;
    opacity: .8;
}

.jumbotron > *{
    position: relative;
    z-index: 3;
    text-align: center;
    color: white;
}

.jumbotron h2{
    font-size: 2em;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.jumbotron p{
    margin-top: 36px;
    font-size: 1em;
    font-weight: 300;
    word-spacing: 0; 
    letter-spacing: 0;
}

.text-primary{
    color: var(--primary-color, #FCD34D );
}

.text-secondary{
    color: var(--secondary-color, #DC2626 );
}

.explore{
    padding: 30px 18px;
}

.explore h2{
    margin-bottom: 30px;
    text-align: center;
}

.explore__items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-content: center;
    gap: 16px;
}

.explore__items .restaurant{
    position: relative;
    border-radius: 8px;
    overflow: hidden; /* agar border radius work pada flex*/
    box-shadow: rgba(49, 53, 59, .7) 1px 2px 6px 0;
    transition: all 0.1s ease-in-out;
    background-color: var(--gray-50,  #F9FAFB);
}

.explore__items .restaurant:hover{
    box-shadow: rgba(49, 53, 59, .7) 3px 5px 8px 0;
    transition: all 0.2s ease-in-out;
}

.explore__items .restaurant img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.explore__items .restaurant .res__info{
    padding: 8px 12px 12px;
}

.explore__items .restaurant .res__name{
    margin-top: 16px;
    margin-bottom: 12px;
    word-spacing: 1px;
    letter-spacing: .8px;
}

.explore__items .restaurant .res__name a{
    text-decoration: none;
    color: black;
}

.explore__items .restaurant .res__name a:hover{
    color: black;
    text-decoration: underline;
}

.explore__items .restaurant .res__rating{
    text-align: right;
    font-weight: bold;
    font-size: 0.9;
}

.star{
    color: #FFC400; 
    font-size: 1.3em;
}

.explore__items .restaurant .res__desc{
    font-weight: 300;
    max-height: 280px;
    letter-spacing: .7px;
    /* max line */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.explore__items .restaurant .res__city{
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 0;
    padding: 6px;
    background-color: rgba(0, 0, 0, .8);
    color: var(--primary-color, #FCD34D);
    font-weight: bold;
    border-radius: 5px;
}

/* DETAIL */
.detail{
    width: 100%;
}

.detail .restaurant img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.detail .res__info{
    padding: 22px 12px 12px;
    background-color: #fff;
}

.detail .res__name{
    text-align: center;
}

.detail .res__desc{
    margin-top: 15px;
    font-weight: 300;
    letter-spacing: .7;
    text-align: justify;
}

.detail ul.info-list{
    padding: 0 12px 12px;
    background-color: #fff;
}

.detail ul.info-list .label{
    font-weight: 600;
    min-width: 9ch;
}
.detail ul.info-list .colon{
    width: 1.5ch;
}
.detail ul.info-list .value{
    width: auto;
}

.detail ul.info-list li{
    padding: 6px 0;
    border-bottom: 1px solid #9ca1a8;
    display: flex;
}

.detail ul.info-list li:first-child{
    border-top: 1px solid #9ca1a8;
}

.detail ul.info-list li:hover{
    background-color: #F1F3F4;
}

.like-btn {
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border: 0;
    font-size: 32px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #db0000;
    color: white
}

.menu{
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.menu h2{
    text-align: center;
    margin-bottom: 10px;
}

.foods, .drinks{
    padding-bottom: 12px;
}

.foods h3{
    border-left: 4px solid var(--primary-color);
    padding-left: 12px;
    margin-bottom: 8px;
}

.drinks h3{
    border-left: 4px solid var(--secondary-color);
    padding-left: 12px;
    margin-bottom: 8px;
}

.foods ul, .drinks ul {
    padding-left: 8px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

.foods ul>li, .drinks ul>li{
    padding: 2px 0;
    list-style-type: "â– ";
    list-style-position: inside;
}

.review-section{
    padding-top: 12px;
    background-color: #fff;
}
.review-section h2{
    text-align: center;
}

.review{
    border-bottom: 1px solid #9ca1a8;
    padding: 8px 0;
    padding-left: 12px;
    padding-right: 12px;
}

.review:hover{
    background-color: #F1F3F4;
}

.review .review__name{
    font-weight: 600;
    font-size: 15px;
    color: rgba(0, 0, 0, .87);
}

.review .review__date{
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
}

.review .review__comment{
    padding: 5px 0;
    font-size: 14px;
    color: rgba(0, 0, 0, .87);
}

.add-review{
    padding: 12px;
}

.add-review h3{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}
.add-review input, .add-review textarea{
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #9ca1a8;
    background-color: #F1F3F4;
    font-size: 14px;
    font-family: var(--oxygen);
}

.add-review input:focus, .add-review textarea:focus{
    background-color: white;
    outline-color: red;
    outline: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .2), -2px -2px 3px rgba(0, 0, 0, .2);
}

.add-review button{
    padding: 0 18px;
    min-width: 44px;
    min-height: 44px;
    border-radius: 5px;
    border: 0;
    background-color: #111827;
    color: white;
    font-weight: 700;
    font-family: var(--oxygen);
    letter-spacing: 2px;
    cursor: pointer;
}

/* SEARCH PAGE */
.search-wrapper{
    padding: 12px;
}
.search{
    width: 100%;
    height: 44px;
    border-radius: 25px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 2px 6px rgba(0,0,0,0.23);
    background-color: white;
    overflow: hidden;
    display: flex;
    align-content: center;
}
.search button{
    display: inline-block;
    padding-left: 12px;
    max-width: 36px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}

.search button svg{
    height: 24px;
    width: 24px;
    color: rgb(154, 160, 166);
    fill: rgb(154, 160, 166);
}

.search input[type="search"]{
    display: inline-block;
    width: 100%;
    height: 44px;
    padding: 0 16px 0 8px;
    outline: none;
    font-size: 16px;
    border: 0;
    color: rgb(60, 64, 67);
}

h2.search-query{
    margin: 8px 0;
    padding: 0 12px;
    font-size: 18px;
}

#search-query{
    font-style: italic;
}

#search-query::before{
    content: "\2018";
}

#search-query::after{
    content: "\2019";
}

.results{
    padding: 0 12px;
}

.results .restaurant{
    display: flex;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: rgb(49 53 59 / 70%) 1px 2px 6px 0;
}

.results .restaurant .image{
    position: relative;
    width: 100px;
    height: 80px;
    min-width: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    overflow: hidden;
}

.results .restaurant img{
    width: 100%;
    height: 100%;
}

.results .restaurant .rating{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, .8);
    color: black;
}

.results .restaurant .info{
    padding: 5px 12px;
}

.results .restaurant h3{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
    letter-spacing: .8px;
}

.results .restaurant h3 a{
    text-decoration: none;
    color: black;
}

.results .restaurant h3 a:hover{
    text-decoration: underline;
}

.results .restaurant p{
    font-size: 13px;
    word-wrap: none;
    /* max line */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.results .restaurant .desc{
    color: rgba(0, 0, 0, .54);
}

.no-results{
    margin-top: 24px;
}

.no-results p:first-child{
    color: #DC2626;
    font-style: italic;
}

.no-results p:last-child{
    font-size: .9em;
}

/* Favorite Page */
#favorite{
    padding: 30px 18px;
}

#favorite h2{
    margin-bottom: 30px;
    text-align: center;
}



/* FOOTER */
footer{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 16px 12px;
    background-color: var(--primary-color, #FCD34D);
}
footer p{
    text-align: center;
}

.loader {
    position: relative;
    left: 50%;
    top: 50%;
    /*  sesuai width, height  */
    margin-left: -18px;
    margin-top: -18px;
    border: 8px solid rgb(252, 211, 77);
    border-left: 8px solid rgb(220, 38, 38);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 1.8s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Scroll bar */

/* Width */
p::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* TABLET DEVICE LAYOUT */
@media only screen and (min-width: 600px) {
    body{
        margin-top: 75px; /*sesuai tinggi header */
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    header .brand h1{
        font-size: 1.8em;
    }

    #hamburger{
        display: none;
    }

    nav.nav-links{
        position: initial;
        display: inline-block;
        height: auto;
        padding: 0;
        align-items: center;
        width: auto;
        min-width: 260px;
        background-color: inherit;
        transform: translate(0, 0);
    }

    nav.nav-links ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    
    nav.nav-links ul li{
        transition: all 0.1s ease-in-out;
        border-bottom: 0;
        padding: 0 6px;
    }

    nav.nav-links ul li:hover{
        transform: scale(1.2);
        transition: all .1s ease-in-out;
    }

    nav.nav-links ul li a {
        padding: 0;
        font-size: 1.2em;
        font-weight: 600;
        color: black;
    }

    nav.nav-links ul li a:hover{
        text-decoration: underline;
    }

    .jumbotron{
        min-height: 360px;
        padding-top: 90px;
    }

    .jumbotron h2{
        font-size: 3em;
        letter-spacing: 4px;
        word-spacing: 2px;
    }

    .jumbotron p{
        margin-top: 50px;
        font-size: 1.2em;
    }

    .explore{
        padding: 30px 30px;
    }

    .res__info{
        padding: 10px 18px 18px;
    }

    .hide-on-medium{
        display: none;
    }

    .like-btn{
        right: 32px;
    }

    .results{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 12px;
        margin-top: 16px;
    }

}

/* DEESKTOP DEVICE LAYOUT */
@media only screen and (min-width: 992px) {
    .explore{
        padding: 30px 50px;
    }

    .detail .restaurant{
        display: grid;
        grid-template-areas: 
        "image image"
        "desc info-list";
        grid-template-columns: 66% 34%;
    }

    .detail .restaurant>img{
        grid-area: image;
    }

    .detail .restaurant .info-list{
        grid-area: info-list;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 32px;
    }

    .detail .restaurant .res__info{
        grid-area: desc;
        padding-bottom: 24px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .detail .restaurant .res__desc{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .like-btn{
        bottom: 50%;
        transform: translate(0, 50%);
    }

    section.menu, section.review-section{
        margin-top: 20px;
        padding: 32px;
        border-radius: 12px;
    }

    section.menu{
        display: grid;
        grid-template-areas: 
        "header header"
        "foods drinks";
        box-shadow: rgba(49, 53, 59, .7) 1px 2px 2px 0;
        column-gap: 18px;
    }

    .menu h2{
        grid-area: header;
    }

    .menu h2, .review-section h2{
        margin-bottom: 16px;
        background-color: #111827;
        color: white;
        padding: 10px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .menu .foods h3, .menu .drinks h3{
        border-left: 0;
        margin-bottom: 12px;
        background-color: #999;
        display: inline-block;
        padding: 3px 12px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .menu .foods h3{
        background-color: var(--primary-color);
    }

    .menu .drinks h3{
        background-color: var(--secondary-color);
        color: white;
    }

    .menu .foods, .menu .drinks{
        padding: 12px;
        text-align: center;
    }
    .menu .foods{
        grid-area: foods;
        border: 2px solid var(--primary-color);
        border-bottom-left-radius: 12px;
        background-color: #FFFBEB;
    }

    .menu .drinks{
        grid-area: drinks;
        border: 2px solid var(--secondary-color);
        border-bottom-right-radius: 12px;
        background-color: #FEF2F2;
    }

    .menu .foods ul, .menu .drinks ul{
        text-align: left;
        font-weight: bold;
    }

    section.review-section{
        margin-bottom: 20px;
        box-shadow: rgba(49, 53, 59, .7) 1px 2px 2px 0;
    }

    .add-review input, .add-review textarea{
        width: 70%;
    }

    .results{
        gap: 18px 15px;
    }

    .results .restaurant{
        margin-bottom: 0;
    }

}
